@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

html {
  scroll-behavior: smooth;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  font-family: "Sen", sans-serif;
  line-height: 1.6;
  color: rgb(4, 25, 56);
  background-image: url(cutie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  text-align: center;
  padding: 1rem;
  background-color: rgb(225, 250, 252);
  font-family: "Sen", sans-serif;
}
.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 8rem;
  padding-top: 2rem;
}
.text {
  text-align: justify;
}

img,
picture {
  min-width: 40%;
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

h1 {
  font-size: 3rem;
}

h2 {
  background-color: rgb(225, 250, 252);
  padding: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

.groupage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

nav {
  margin-top: 1em;
}
nav ul {
  background-color: rgb(225, 250, 252);
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  gap: 3em;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: rgb(4, 25, 56);
}
a:visited {
  color: rgb(253, 158, 158);
}
a:hover {
  color: rgb(5, 99, 221);
}

footer {
  position: fixed;
  inset: auto auto 1rem 1rem;
  padding: 1em;
}
